@font-face {
    font-family: poppins;
    src: url(../../fonst/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: quicksand;
    src: url(../../fonst/Quicksand/static/Quicksand-Regular.ttf);
}